# 1. Block messy computer junk and text drafts
__pycache__/
*.pyc
*.txt
*.code-workspace

# 2. Block your old specific files so they stay clean
Day 1.py
First program.py
Lec-1(basic),qs practice
Lec 1(basic), qs practice*

simple.py
test file.py
Lec 1()
Lec-2*
Lec-3*
Lec-4*
Lec-5*
Lec-6*
Lec-7*
lec2*
sign up*
math_calc.py
Myth testing.py
practice*
LICENSE
README.md


